body {
  padding-top: 100px;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.selectedDay {
  color: #fff;
  background-color: #428bca;
}

.selectedCategory {
    color: #fff;
    background-color: grey;
}

a {
    color: grey;
}
