
.desktopOptions {
    display: none;
}

.mobileOptions {
    display: flex;
}

.btn, .btn:focus {
    color: lightgrey;
    background-color: #222222;
}

.btn:hover {
    color: white;
}

a {
    color: grey;
}

@media (min-width: 768px) {
    body {
      padding-top: 70px;
    }

    .desktopOptions {
        display: block;
    }

    .mobileOptions {
        display: none;
    }

    .sidebar {
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; 
        background-color: #f5f5f5;
    }
}

.selectedDay {
  color: #fff;
  background-color: #428bca;
}

.selectedCategory {
    color: #fff;
}

@media (max-width: 767px) {
    .active {
        color: white;
        background-color: #428bca;
    }
}

